@import url(http://fonts.googleapis.com/css?family=Antic+Didone);

body {

  background: #FFFFFF ;
}

/*パンくずリスト*/
.topicPath {
  font-size: 12px;
}

/*ページの先頭へ戻る*/
.pagetop {
  font-size: 12px;
  text-align: right;
  margin-top: 30px;
}

.pagetop a {
  background-image: url("../images/ico_pagetop.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding-left: 10px;
}

/*ページ*/
#page {
  width: 980px;
  margin: 0 auto;
}


/*ページヘッダー*/
#pageHead #siteTitle {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 0;
  font-family: 'Antic Didone', serif;
}

#pageHead #catchcopy {
  font-size: 12px;
  line-height: 1.5;
  margin-top: 5px;
}

/*グローバルナビ*/
#pageHead .globalNavi {
  border: solid #CCCCCC;
  border-width: 1px 0;
  padding: 10px 0;
}

#pageHead .globalNavi ul {
  margin: 0;
  padding: 0;
}

#pageHead .globalNavi ul:after {
  content: "";
  clear: both;
  display: block;
}

#pageHead .globalNavi ul li {
  list-style: none;
  width: 196px;
  float: left;
  border-left: solid 1px #CCCCCC;
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  line-height: 1.429;
}

#pageHead .globalNavi ul li:first-child {
  border-left: none;
}

#pageHead .globalNavi ul li a {
  color: inherit;
  text-decoration: none;
  display: block;
  padding: 5px 0;
}

#pageHead .globalNavi ul li a:hover,
#pageHead .globalNavi ul li.current a {
  background-color: #F2F2E5;
}



/*ページフッター*/
#pageFoot {
  border-top: solid 1px #CCCCCC;
  margin-top: 15px;
}

#pageFoot #copyright small {
  font-size: 12px;
  line-height: 1.5;
}

/*ページボディ*/

#pageBody {
  margin-top: 30px;
}

/*#pageBody:after {
  content: "";
  clear: both;
  display: block;
}*/

#pageBodyMain {
  width: 720px;

  /*float: left;*/
}

/*#pageBodySub {
  width: 220px;
  /*float: right;*/


/*サブカラム内の装飾*/

/*見出し*/
/*#pageBodySub h2 {
  font-size: 16px;
  line-height: 1.375;
  padding: 5px;
  margin-top: 0;
  border-bottom: 1px solid #CCCCCC;
}*/

/*お知らせ*/
/*#pageBodySub .newsList ul {
  list-style: none;
  padding: 0;
}*/

/*#pageBodySub .newsList ul li {
  font-size: 12px;
  line-height: 1.5;
  margin: 10px 5px;
}*/

/*#pageBodySub .newsList ul li time {
  font-weight: bold;
  display: block;
}*/

/*/*ローカルナビ*/
/*#pageBodySub .localNavi ul {
  margin: 0 0 30px;
  padding-left: 0;
}*/

/*#pageBodySub .localNavi ul li {
  font-size: 14px;
  line-height: 1.429;
  margin-bottom: 12px;
  background-image: url("../images/ico_arrow.png");
  list-style-type: none;
  background-repeat: no-repeat;
  background-position: 0 8px;
  padding-left: 10px;
}*/

/*メインカラム内の装飾*/
#pageBodyMain p {
  font-size: 14px;
  line-height: 1.429;
}
/*リスト*/
#pageBodyMain ul li {
  font-size: 14px;
  line-height: 1.429;
  list-style-type: square;
}

/*表*/
#pageBodyMain table {
  font-size: 14px;
  line-height: 1.429;
  border: 1px solid #cccccc;
  border-collapse: collapse;
  width: 100%;
}

#pageBodyMain table th,
#pageBodyMain table td {
  border: 1px solid #cccccc;
  padding: 5px 10px;
}

#pageBodyMain table th {
  background-color: #EEEEEE;
  text-align: left;
}

#pageBodyMain table caption {
  text-align: left;
  font-weight: bold;
}
/*図版*/
#pageBodyMain figure {
  margin: 0;
}
/*画像キャプション*/
#pageBodyMain figcaption {
  font-size: 12px;
}

/*見出し*/
.pageTitle {
  font-size: 26px;
  background-color: #F2F2E5;
  padding: 5px 15px;
  line-height: 1.231;
  margin-top: 0;
}

#pageBodyMain .heading-typeA {
  font-size: 18px;
  color: #349FA6;
  border-bottom: solid 1px #349FA6;
  padding: 5px;
  line-height: 1.333;
}

#pageBodyMain .heading-typeB {
  font-size: 16px;
  border-left: solid 5px #E3E4D9;
  padding-left: 10px;
  line-height: 1.375;
}

#pageBodyMain .heading-typeC {
  font-size: 14px;
  line-height: 1.429;
}



/*区切り線・余白*/
#pageBodyMain .articleDetailHead {
  border-bottom: solid 1px #cccccc;
  margin-bottom: 30px;
  padding-bottom: 15px;
}

#pageBodyMain .articleDetailFoot {
  border-top: solid 1px #cccccc;
  margin-top: 30px;
  padding-top: 15px;
}

#pageBodyMain .articleDetailBody section {
  margin: 30px 0;
}

#pageBodyMain .creditUnit {
  padding: 10px;
  border: solid 1px #cccccc;
}

#pageBodyMain .creditUnit:after {
  content: "";
  clear: both;
  display: block;
}

#pageBodyMain .creditUnit .creditUnitText {
  float: right;
  width: 378px;
}

#pageBodyMain .creditUnit .creditUnitMap {
  float: left;
  width: 300px;
}


#pageBodyMain .creditUnit p {
  font-size: 12px;
  line-height: 1.5;
}

/*センター寄せ画像*/
#pageBodyMain .imageCenter {
  text-align: center;
  border-bottom: 1px dotted #CCCCCC;
  padding-bottom: 30px;
  margin: 30px 0;
}

/*お問い合わせボタン*/

.btn {
  text-align: center;
  padding-bottom: 20px;
  margin: 30px 0;
  border-bottom: 1px dotted #CCCCCC;
}

.btn a {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #058BA9;
  padding: 10px 20px;
  border-radius: 5px;
  background-image: linear-gradient(to bottom, #92CDDB, #058BA9);
  border: 1px solid #058BA9;
  box-shadow: 1px 1px 0 #9DDDED inset;
  text-shadow: 0px -1px 0 #333333;
  display: inline-block;
}

/*.btn a:hover {
  opacity: 0.8;
}*/

/*トップページの内容*/
/*メインビジュアル*/
#pageBody .mainVisual {
  position: relative;
}

#pageBody .mainVisual img {
  vertical-align: bottom;
}

#pageBody .mainVisual .mainVisualText {
  position: absolute;
  left: 60px;
  bottom: 50px;
  color: #FFF;
  background-color: rgba(0,0,0,0.4);
  width: 400px;
  padding: 15px 25px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#pageBody .mainVisual .mainVisualText h1 {
  font-size: 26px;
  line-height: 1.231;
  margin: 0;
}

#pageBody .mainVisual .mainVisualText p {
  font-size: : 12px;
  line-height: 1.5;
  margin-bottom: 0;
}


/*作ったものIndex*/

#pageBody .portfolioIndex {
  margin-top: 40px;
}

#pageBody .portfolioIndex:after {
  content: "";
  clear: both;
  display: block;
}

#pageBody .portfolioIndex article {
  width: 300px;
  float: left;
  margin-left: 40px;
}

#pageBody .portfolioIndex article:first-child {
  margin-left: 0;
}

#pageBody .portfolioIndex article h2 {
  font-size: 18px;
  margin: 5px 0;
}

#pageBody .portfolioIndex article p {
  margin-top: 0;
  font-size: 12px;
  line-height: 1.5;
}

/*お知らせ*/

#pageBody .news {
  margin-top: 40px;
}


#pageBody .news h1 {
  font-size: 20px;
  border-bottom: 1px solid #CCCCCC;
  padding: 5px 0;
}

#pageBody .news table {
  width: 100%;
}

#pageBody .news table tr th,
#pageBody .news table tr td {
  font-size: 14px;
  line-height: 1.429;
  border-bottom: 1px dotted #CCCCCC;
  vertical-align: top;
}

#pageBody .news table tr th {
  white-space: nowrap;
  padding-right: 30px;
}

#pageBody .news table tr td {
  width: 100%;
}

/*作ったもの一覧ページ*/
#pageBodyMain .articleList {
  border: solid 1px #CCCCCC;
  margin-bottom: 30px;
}

#pageBodyMain .articleList a {
  display: block;
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

#pageBodyMain .articleList a:after {
  content: "";
  clear: both;
  display: block;
}

#pageBodyMain .articleList a:hover {
  opacity: 0.7;
}

#pageBodyMain .articleList a .articleListText {
  width: 370px;
  float: right;
}

#pageBodyMain .articleList a .articleListText h1 {
  font-size: 26px;
  line-height: 1.308;
}

#pageBodyMain .articleList a .articleListText p {
  font-size: 14px;
  line-height: 1.429;
}

#pageBodyMain .articleList a .articleListImage {
  width: 300px;
  float: left;
}

#pageBodyMain .articleList a .articleListImage img {
  vertical-align: bottom;
}

a {
  color: #999966;
}
a:hover {
  color: #996600;
}


form div {
  clear: both;
  margin-bottom: 1em;
  padding: .5em;
  vertical-align: text-top;
}
form .input {
  color: #444;
}
form .required {
  font-weight: bold;
}
form .required label:after {
  color: #e32;
  content: '*';
  display:inline;
}
form div.submit {
  border: 0;
  clear: both;
  margin-top: 10px;
}
label {
  display: block;
  font-size: 110%;
  margin-bottom:3px;
}
input, textarea {
  clear: both;
  font-size: 140%;
  font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
  padding: 1%;
  width:98%;
}
select {
  clear: both;
  font-size: 120%;
  vertical-align: text-bottom;
}
select[multiple=multiple] {
  width: 100%;
}
option {
  font-size: 120%;
  padding: 0 3px;
}
input[type=checkbox] {
  clear: left;
  float: left;
  margin: 0 6px 7px 2px;
  width: auto;
}
div.checkbox label {
  display: inline;
}
input[type=radio] {
  float:left;
  width:auto;
  margin: 6px 0;
  padding: 0;
  line-height: 26px;
}
.radio label {
  margin: 0 0 6px 20px;
  line-height: 26px;
}
input[type=submit] {
  display: inline;
  font-size: 110%;
  width: auto;
}
form .submit input[type=submit] {
  background:#62af56;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
  background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
  background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
  border-color: #2d6324;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.5) 0 -1px 0;
  padding: 8px 10px;
}
form .submit input[type=submit]:hover {
  background: #5BA150;
}
/* Form errors */
form .error {
  background: #FFDACC;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-weight: normal;
}
form .error-message {
  -moz-border-radius: none;
  -webkit-border-radius: none;
  border-radius: none;
  border: none;
  background: none;
  margin: 0;
  padding-left: 4px;
  padding-right: 0;
}
form .error,
form .error-message {
  color: #9E2424;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
}

/** Notices and Errors **/
.message {
  clear: both;
  color: #fff;
  font-size: 140%;
  font-weight: bold;
  margin: 0 0 1em 0;
  padding: 5px;
}

.success,
.message,
.cake-error,
.cake-debug,
.notice,
p.error,
.error-message {
  background: #ffcc00;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);
  background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#E6B800));
  background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
  background-image: -o-linear-gradient(top, #ffcc00, #E6B800);
  background-image: linear-gradient(top, #ffcc00, #E6B800);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 18px;
  padding: 7px 14px;
  color: #404040;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.success,
.message,
.cake-error,
p.error,
.error-message {
  clear: both;
  color: #fff;
  background: #c43c35;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.success {
  clear: both;
  color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: #3B8230;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
  background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
  background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
  background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
  background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
  background-image: linear-gradient(top, #76BF6B, #3B8230);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
p.error {
  font-family: Monaco, Consolas, Courier, monospace;
  font-size: 120%;
  padding: 0.8em;
  margin: 1em 0;
}
p.error em {
  font-weight: normal;
  line-height: 140%;
}
.notice {
  color: #000;
  display: block;
  font-size: 120%;
  padding: 0.8em;
  margin: 1em 0;
}
.success {
  color: #fff;
}

/**  Actions  **/
.actions ul {
  margin: 0;
  padding: 0;
}
.actions li {
  margin:0 0 0.5em 0;
  list-style-type: none;
  white-space: nowrap;
  padding: 0;
}
.actions ul li a {
  font-weight: normal;
  display: block;
  clear: both;
}

/* Buttons and button links */
input[type=submit],
.actions ul li a,
.actions a {
  font-weight:normal;
  padding: 4px 8px;
  background: #dcdcdc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dcdcdc));
  background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);
  background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
  background-image: -ms-linear-gradient(top, #fefefe, #dcdcdc);
  background-image: -o-linear-gradient(top, #fefefe, #dcdcdc);
  background-image: linear-gradient(top, #fefefe, #dcdcdc);
  color:#333;
  border:1px solid #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
  text-shadow: #fff 0 1px 0;
  min-width: 0;
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-user-select: none;
  user-select: none;
}
.actions ul li a:hover,
.actions a:hover {
  background: #ededed;
  border-color: #acacac;
  text-decoration: none;
}
input[type=submit]:active,
.actions ul li a:active,
.actions a:active {
  background: #eee;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#eee));
  background-image: -webkit-linear-gradient(top, #dfdfdf, #eee);
  background-image: -moz-linear-gradient(top, #dfdfdf, #eee);
  background-image: -ms-linear-gradient(top, #dfdfdf, #eee);
  background-image: -o-linear-gradient(top, #dfdfdf, #eee);
  background-image: linear-gradient(top, #dfdfdf, #eee);
  text-shadow: #eee 0 1px 0;
  -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
  border-color: #aaa;
  text-decoration: none;
}

/** Related **/
/*.related {
  clear: both;
  display: block;
}
*/
/*表*/
#house table {
  font-size: 14px;
  line-height: 1.429;
  border: 1px solid #cccccc;
  border-collapse: collapse;
  width: 100%;
}

#house table th,
#house table td {
  border: 1px solid #cccccc;
  padding: 5px 10px;
}

#house table th {
  background-color: #EEEEEE;
  text-align: left;
}

#house table caption {
  text-align: left;
  font-weight: bold;
}










